@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

body {
  font-family: 'Yeon Sung', bold;
  color: #c2e7f8;
  line-height: 2;
  font-size: 20px;
  background-color: #000b22f8;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23424242' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


.navbar {
  background-color:#5e0202f3;
  display: flex;
  justify-content: center;
  
}

.link {
  color: #e9e8e8;
  display: inline-block;
  padding: 3px 20px;
  font-size: 30px;
  text-decoration: none;
  transition: 0.5s ease all;
  position: relative;
}

.link:hover {
  color: #94ffff;
  transform: scale(1.1);
}


.nasa-photo {
  position: fixed;
  display: flex;
  padding: 40px;
  margin: 0 auto;
  max-height: 100%;
}

.nasa-photo img {
  width: 80%;
  margin-right: 50px;
  object-fit: contain;
  max-height: 80vh;
}

.nasa-photo h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.nasa-photo .date {
  margin-top: 0;
  margin-bottom: 30px;
}

.nasa-photo .explanation {
  color: #bbb;
}

@media (max-width: 1280px) {
  .nasa-photo {
    display: block;
  }

  .nasa-photo img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.home {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.home-link {
  font-size: 40px;
  background: #420202;
  display: inline-block;
  padding: 40px 100px;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  text-decoration: none;
  /* transition: 0.9s ease all; */
  text-transform: uppercase;
  position: fixed;
  z-index: 1;
}

.home-link:hover {
  transition: 0.5s;
  background: #79042b;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pic {
  background: #2c0101a4;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
}